/* globals.css */
.custom-body {
  background-color: #000000; /* Dark gray background */
  color: white;              /* White text */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

